body {
    margin: 0;
    padding: 0;
}

#edit-panel {
    display: none;
}

.edit-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inp {
    background: white;
    width: 50px;
    height: 30px;
    border: none;
    border-bottom: 1px lightgray solid;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 0;
    margin: 5px
}
