body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#disable-background {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 99;
}

#canvas-parent {
    position: relative;
    width: 500px;
    height: 500px;
    display: none;
}

#edit-label-container {
    position: absolute;
    top: 5px;
    left: 10px;
}

#label-input {
    width: 100px;
}

#edit-panel {
    position: absolute;
    z-index: 2;
    display: flex;
    height: 500px;
    width: 500px;
    align-items: end;
}

#info-message-container {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

#info-message {
    color: blue;
}

#mlp-edit-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 1px 10px #999;
    border-radius: 10px;
    top: 2%;
    z-index: 1;
    left: -300px;
    transition: left 0.3s cubic-bezier(.68, -0.55, .27, 1.55);
}

#mlp-edit-container.active {
    left: 0;
}

#edit-layer-close {
    position: absolute;
    top: 0;
    right: 0;
}

.cancel-icon {

    margin: 5px;
    cursor: pointer;
    background: black;
    border-radius: 100%;
}

.btn-cyan {
    background-color: #06b6d4
}

.btn-cyan:active {
    background-color: #059cb0;
}

.btn-blue {
    background-color: #1C64F2;
}

.btn-blue:active {
    background-color: #134dbf;
}

.btn-rose {
    background-color: #f43f5e;
}

.btn-rose:active {
    background-color: #c72c48;
}

.btn-yellow {
    background-color: #facc15;
}

.btn-yellow:active {
    background-color: #c89b13;
}

.editCanvas {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid black;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    flex: 1;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 2px;
    justify-items: center;
    align-items: center;
    padding: 5px;
}

.grid-item {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.inp {
    background: white;
    width: 50px;
    height: 30px;
    border: none;
    border-bottom: 1px lightgray solid;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 0;
    margin: 5px
}

.edit-container {
    position: absolute;
}

.btn {
    flex: 1;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

.clear-line-btn {
    width: 50px;
    height: 20px;
    background-image: url("broken-link.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
