:root {
    --cyan: #06b6d4;
    --cyan-active: #059cb0;
    --blue: #1C64F2;
    --blue-active: #132dbf;
    --rose: #f43f5e;
    --rose-active: #c72c48;
    --yellow: #facc15;
    --yellow-active: #c89b13;
    --green: #4ade80;
    --green-active: #3c8d60;
    --white: #ffffff;
    --white-active: #e6e6e6;
    --gray: #6b7280;
    --dark-gray: #4A4A4A;
    --sky: #4A90E2;
    --sky-active: #1C64F2
}

#github-icon {
    position: absolute;
    right: 0;

}

.c-blue {
    color: var(--blue-active)
}

.c-cyan {
    color: var(--cyan-active);
}

.c-yellow {
    color: var(--yellow-active);
}

.c-green {
    color: var(--green-active);
}

#popup-container {
    position: relative;
    max-width: 500px;
    border-radius: 10px;
    background-color: var(--white);
    text-align: center;
}


.tips {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    padding-top: 10px;
    font-size: 0.9em;
}

#welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    z-index: 98;
}

#tip-button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    cursor: pointer
}

#demo-img {
    width: 90%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mlp-batch-size>label {
    color: var(--gray)
}

#disable-background {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 99;
}

#canvas-parent {
    position: relative;
    width: 500px;
    height: 500px;
    filter: drop-shadow(0 1px 10px #999);
    display: none;
}

#edit-label-container {
    position: absolute;
    top: 5px;
    left: 10px;
}

#label-input {
    width: 100px;
}

#edit-panel {
    position: absolute;
    z-index: 2;
    display: flex;
    height: 500px;
    width: 500px;
    align-items: end;
}

#info-message-container {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

#info-message {
    color: var(--blue-active);
}

#mlp-edit-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2%;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 0px 1px 10px #999;
    border-radius: 10px;
    top: 2%;
    z-index: 1;
    left: -300px;
    transition: left 0.3s cubic-bezier(.68, -0.55, .27, 1.55);
}

#mlp-edit-container.active {
    left: 0;
}

#edit-layer-close,
#mlp-layer-close {
    position: absolute;
    top: 0;
    right: 0;
}

.hidden {
    display: none !important;
}

.cancel-icon {

    margin: 5px;
    cursor: pointer;
    background: black;
    border-radius: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
}

.btn-sky {
    background-color: var(--sky);
}

.btn-sky:hover,
.btn-sky:active {
    background-color: var(--sky-active);
}

.btn-cyan {
    background-color: var(--cyan);
}

.btn-cyan:hover,
.btn-cyan:active {
    background-color: var(--cyan-active);
}

.btn-blue {
    background-color: var(--blue);
}

.btn-blue:hover,
.btn-blue:active {
    background-color: var(--blue-active);
}

.btn-rose {
    background-color: var(--rose);
}

.btn-rose:hover,
.btn-rose:active {
    background-color: var(--rose-active);
}

.btn-yellow {
    background-color: var(--yellow);
}

.btn-yellow:hover,
.btn-yellow:active {
    background-color: var(--yellow-active);
}

.btn-green {
    background-color: var(--green);
}

.btn-green:hover,
.btn-green:active {
    background-color: var(--green-active);
}

.btn-white {
    background-color: var(--white);
    color: black;
}

.btn-white:hover,
.btn-white:active {
    background-color: var(--white-active);
    color: black;
}

.btn-gray {
    background-color: var(--gray);
}

.editCanvas {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid black;
    border-radius: 10px;
}

.grid-container {
    padding: 5px;
}

.grid-item {
    display: grid;
    grid-template-columns: auto auto 1fr 1fr;
    align-items: center;
    gap: 5px;
}

.inp {
    background: white;
    width: 50px;
    height: 30px;
    border: none;
    border-bottom: 1px lightgray solid;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 0;
    margin: 5px
}

.edit-container {
    position: absolute;
}


.clear-line-btn {
    width: 50px;
    height: 20px;
    background-image: url("broken-link.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.control-container {
    position: absolute;
    bottom: 0;
    margin: 5px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

#datasets-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--white-active);
    height: 0;
    transition: height 0.5s ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#datasets-container.active {
    height: 300px;
}

#datasets-container div:first-child {
    padding: 10px;
    background: var(--dark-gray);
    color: var(--white);
    font-weight: 700;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#datasets-container button {
    border-radius: 0px;
}

#dataset-scrollable {
    width: 100%;
    flex: 1;
    max-height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;

}

#add-layer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#toggle-dataset-container {
    width: 100%;
    text-align: center;
}

#toggle-dataset-btn {
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 100%;
    box-shadow: 0px 1px 10px #999;
    transition: transform 0.5s ease;
    background-color: var(--white)
}

#toggle-dataset-btn.active {
    transform: rotate(-180deg);
}
